@page
@model IndexModel
@{
   
}
<div class="text-center">
    <h1 class="display-4">Make New Order</h1>
    <form method="post">

        <div class="form-group">
            <label asp-for="@Model.Order.Customer"></label>
            <select class="form-control" asp-items="@Model.Customers" asp-for="@Model.Order.Customer"></select>
            <span asp-validation-for="@Model.Order.Customer"></span>
        </div>


        <div class="form-group">
            <label asp-for="@Model.Order.OrderDate"></label>
            <input class="form-control" asp-for="@Model.Order.OrderDate" />
            <span asp-validation-for="@Model.Order.OrderDate"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Order.OrderLocation"></label>
            <input class="form-control" asp-for="@Model.Order.OrderLocation" />
            <span asp-validation-for="@Model.Order.OrderLocation"></span>
        </div>


        <div class="form-group">
            <label asp-for="@Model.Order.Products"></label>
            <select class="form-control" asp-items="@Model.Products" asp-for="@Model.Order.Products" multiple></select>
            <span asp-validation-for="@Model.Order.Products"></span>
        </div>

        <button class="btn btn-primary">Update</button>
    </form>
</div>
